## Grouping using multiple key

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.rand(5),
                  'data2': np.random.rand(5)})
df

  key1 key2     data1     data2
0    a  one  0.150281  0.561690
1    a  two  0.080645  0.858335
2    b  one  0.047649  0.774846
3    b  two  0.235192  0.439036
4    a  one  0.063938  0.138643