## Grouping using multiple key

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.rand(5),
                  'data2': np.random.rand(5)})
df

  key1 key2     data1     data2
0    a  one  0.519154  0.887313
1    a  two  0.048545  0.149970
2    b  one  0.762047  0.276407
3    b  two  0.470841  0.401573
4    a  one  0.217314  0.596344

In [8]:
# Sum of 'data1' groupby 'key1' and 'key2'
df.groupby(['key1','key2'])['data1'].sum()

key1  key2
a     one     0.736468
      two     0.048545
b     one     0.762047
      two     0.470841
Name: data1, dtype: float64

In [10]:
# describe 'data1' based on groups 'key1' and 'key2'
df.groupby(['key1','key2'])['data1'].describe()

           count      mean       std       min       25%       50%       75%  \
key1 key2
a    one     2.0  0.368234  0.213433  0.217314  0.292774  0.368234  0.443694
     two     1.0  0.048545       NaN  0.048545  0.048545  0.048545  0.048545
b    one     1.0  0.762047       NaN  0.762047  0.762047  0.762047  0.762047
     two     1.0  0.470841       NaN  0.470841  0.470841  0.470841  0.470841

                max
key1 key2
a    one   0.519154
     two   0.048545
b    one   0.762047
     two   0.470841

In [11]:
df.groupby(['key2','key1'])['data1'].describe()

           count      mean       std       min       25%       50%       75%  \
key2 key1
one  a       2.0  0.368234  0.213433  0.217314  0.292774  0.368234  0.443694
     b       1.0  0.762047       NaN  0.762047  0.762047  0.762047  0.762047
two  a       1.0  0.048545       NaN  0.048545  0.048545  0.048545  0.048545
     b       1.0  0.470841       NaN  0.470841  0.470841  0.470841  0.470841

                max
key2 key1
one  a     0.519154
     b     0.762047
two  a     0.048545
     b     0.470841