In [79]:
import pandas as pd

In [92]:
df1 = pd.read_csv('aggregationData.csv', header=None)
df1

                      0   1   2
0   2018-01-01 10:00:00  23  43
1   2018-01-02 11:00:00  34  35
2   2018-01-05 12:00:00  25   4
3   2018-01-10 15:00:00  22  96
4   2018-01-01 18:00:00  24  53
5   2018-03-01 10:00:00  94  98
6   2018-04-20 10:00:00  90   9
7   2018-04-10 10:00:00  45  51
8   2018-01-01 10:00:00  74  44
9   2018-12-01 10:00:00  76  87
10  2018-11-01 10:00:00  76  87
11  2018-12-12 10:00:00  87  90

In [93]:
df1[0] = pd.to_datetime(df1[0])

In [94]:
month = df1[0].dt.to_period('M')

In [95]:
df2 = df1.groupby(month).sum()
df2

           1    2
0
2018-01  202  275
2018-03   94   98
2018-04  135   60
2018-11   76   87
2018-12  163  177

In [96]:
df2.to_csv('df2.csv')