## Grouping by dictionaries

In [1]:
import pandas as pd
import numpy as np

In [3]:
df3 = pd.DataFrame(np.random.randn(5,5), columns=['a','b','c','d','e'], index=['AA','BB','CC','DD','EE'])
df3

           a         b         c         d         e
AA  0.347147  1.318946 -0.229964  0.367024 -2.174563
BB -1.516102 -0.550956 -0.370043 -1.067570 -1.262843
CC -1.054132 -0.076153  1.041806 -1.037468  1.431870
DD -0.211131 -1.968420 -0.018306 -1.146421 -0.873216
EE  0.202001  1.073866 -0.495866  2.294634 -0.938591

Create a custom mapping by creating a dictionary

In [5]:
cm = {'a': 'red', 'b': "red", 'c': 'blue','d':'red', 'e':'orange'}

Pass the dictionary in the groupby function.
- axis = 1 horizontal
- axis = 0 vertical

In [8]:
g = df3.groupby(cm, axis=1)
g.sum()

        blue    orange       red
AA -0.229964 -2.174563  2.033116
BB -0.370043 -1.262843 -3.134627
CC  1.041806  1.431870 -2.167753
DD -0.018306 -0.873216 -3.325972
EE -0.495866 -0.938591  3.570502