### Data aggregation
- sum
- mean
- median
- min, max
- prod
- first, last
- count

In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                   'key2': ['one','two','one','two','one'],
                  'data1': np.random.rand(5),
                  'data2': np.random.rand(5)})
df

  key1 key2     data1     data2
0    a  one  0.800190  0.177273
1    a  two  0.803514  0.030910
2    b  one  0.317004  0.568739
3    b  two  0.452945  0.462396
4    a  one  0.563603  0.146418

In [13]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.608918  0.578380
b     0.434609  0.750029

### User-defined aggregation function

In [11]:
def peak_to_peak(s):
    return s.max() - s.min()

g = df.groupby('key1')

g.agg(peak_to_peak)

         data1     data2
key1
a     0.692417  0.570837
b     0.346585  0.758672


## Applying different functions for different columns

In [78]:
# Read in csv with pandas
df = pd.read_csv('tips.csv')

In [79]:
df.size

1464

In [26]:
# use head() to check the first few rows. It is especially useful when the dataset is big

In [80]:
df.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

Finding out the tip percentage of smokers vs non-smokers:

In [81]:
# When you access a column that doesn't exist,
# A new column will be added automatically to the end

df['tip percent'] = df['tip'] / df['total_bill']
df.head()

   total_bill   tip smoker  day    time  size  tip percent
0       16.99  1.01     No  Sun  Dinner     2     0.059447
1       10.34  1.66     No  Sun  Dinner     3     0.160542
2       21.01  3.50     No  Sun  Dinner     3     0.166587
3       23.68  3.31     No  Sun  Dinner     2     0.139780
4       24.59  3.61     No  Sun  Dinner     4     0.146808

In [82]:
g = df.groupby(['day','smoker'])
g['tip percent'].mean()

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip percent, dtype: float64

In [84]:
g['tip percent','total_bill'].mean()

             tip percent  total_bill
day  smoker
Fri  No         0.151650   18.420000
     Yes        0.174783   16.813333
Sat  No         0.158048   19.661778
     Yes        0.147906   21.276667
Sun  No         0.160113   20.506667
     Yes        0.187250   24.120000
Thur No         0.160298   17.113111
     Yes        0.163863   19.190588

### Passing multiple functions to the grouping

In [89]:
result = g['tip percent','total_bill'].agg(['mean','std'])
result

            tip percent           total_bill
                   mean       std       mean        std
day  smoker
Fri  No        0.151650  0.028123  18.420000   5.059282
     Yes       0.174783  0.051293  16.813333   9.086388
Sat  No        0.158048  0.039767  19.661778   8.939181
     Yes       0.147906  0.061375  21.276667  10.069138
Sun  No        0.160113  0.042347  20.506667   8.130189
     Yes       0.187250  0.154134  24.120000  10.442511
Thur No        0.160298  0.038774  17.113111   7.721728
     Yes       0.163863  0.039389  19.190588   8.355149

### Different functions for different columns
Creat a dictionary

In [90]:
g.agg({'tip percent':['min','max','std'],'total_bill':['mean']})

            tip percent                     total_bill
                    min       max       std       mean
day  smoker
Fri  No        0.120385  0.187735  0.028123  18.420000
     Yes       0.103555  0.263480  0.051293  16.813333
Sat  No        0.056797  0.291990  0.039767  19.661778
     Yes       0.035638  0.325733  0.061375  21.276667
Sun  No        0.059447  0.252672  0.042347  20.506667
     Yes       0.065660  0.710345  0.154134  24.120000
Thur No        0.072961  0.266312  0.038774  17.113111
     Yes       0.090014  0.241255  0.039389  19.190588