### Data aggregation
- sum
- mean
- median
- min, max
- prod
- first, last
- count

In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                   'key2': ['one','two','one','two','one'],
                  'data1': np.random.rand(5),
                  'data2': np.random.rand(5)})
df

  key1 key2     data1     data2
0    a  one  0.602782  0.782645
1    a  two  0.936744  0.188707
2    b  one  0.143201  0.562318
3    b  two  0.726017  0.937740
4    a  one  0.287229  0.763788

In [13]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.608918  0.578380
b     0.434609  0.750029

### User-defined aggregation function

In [16]:
def peak_to_peak(s):
    return s.max() - s.min()

g = df.groupby('key1')
g.agg(peak_to_peak)

         data1     data2
key1
a     0.649515  0.593938
b     0.582816  0.375422

Rewatch the video