# Date and time in Python

In [45]:
from datetime import datetime

## Timestamp object

In [18]:
t = datetime.now()
t

datetime.datetime(2019, 2, 24, 21, 34, 54, 767286)

In [20]:
t.year

2019

In [28]:
myBirthday = datetime(1991,1,21,1,30,0,0)
myBirthday

datetime.datetime(1991, 1, 21, 1, 30)

## Time difference (time delta)

In [47]:
from datetime import timedelta

In [31]:
t1 = datetime(2018, 10, 1, 1, 0, 0)   # 2018-10-01 01:00:00
t2 = datetime(2018, 11, 1, 23, 0 , 5) # 2018-11-01 23:00:05

In [42]:
delta = t2-t1
delta

datetime.timedelta(31, 82805)

In [52]:
t1 = datetime(2018,10,1,0,0,0)
dt = timedelta(1) # default is day
t1 + dt

datetime.datetime(2018, 10, 2, 0, 0)

In [59]:
# example
# Set dt to 48 hours and 30 minutes

dt = timedelta(hours=48, minutes=30)

In [60]:
# add 48 hours and 30 minutes to t1
t1 + dt

datetime.datetime(2018, 10, 3, 0, 30)

## Converting between string and datetime

### From datetime to string
str()

.strftime('%Y -%m - %d %H: %M')

In [61]:
t1 = datetime(2018,1,1,13,25,10,250000)
t1

datetime.datetime(2018, 1, 1, 13, 25, 10, 250000)

In [63]:
str(t1)

'2018-01-01 13:25:10.250000'

In [94]:
t1.strftime('%Y-%m-%d %H: %M')

'2018-01-01 13: 25'

In [100]:
t1.strftime('%Y-%m-%d %a %I:%M %p')

'2018-01-01 Mon 01:25 PM'

%a - Day of week

%I - 12 hour format

%p - AM/PM

### From string to datetime

#### Using strptime

In [102]:
d1 = datetime.strptime('2018-10-01 15:00:25', '%Y-%m-%d %H:%M:%S')
d1

datetime.datetime(2018, 10, 1, 15, 0, 25)

# Using Pandas

In [111]:
import pandas as pd

In [112]:
pd.to_datetime('2018-10-01')

Timestamp('2018-10-01 00:00:00')

In [118]:
dates = ['2018-10-01 1:30','2018-10-05 01:30:00']

pd.to_datetime(dates)

DatetimeIndex(['2018-10-01 01:30:00', '2018-10-05 01:30:00'], dtype='datetime64[ns]', freq=None)