* Period has beginning and end points.
* Periods don't overlap

In [13]:
import pandas as pd
import numpy as np

In [27]:
# freq = "A - Jun " -> A = yearly, annually

period = pd.Period(2018, freq = "A-Jun")
period

Period('2018', 'A-JUN')

### High frequency(short period) to low frequency (long period)
Pandas will figure out which long period does the short period belongs to

In [10]:
p = pd.Period('aug-2018', 'M')
p.asfreq('A-Jun')   # 'A-Jun' means annual period ends in Jine

Period('2019', 'A-JUN')

Example

In [12]:
r = pd.period_range('2006','2009', freq = 'A-Dec')
r

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [15]:
s = pd.Series(np.random.randn(len(r)), index=r)
s

2006    1.028397
2007    1.005615
2008    0.980782
2009   -0.919151
Freq: A-DEC, dtype: float64

In [17]:
s.asfreq('M', how='start')

2006-01    1.028397
2007-01    1.005615
2008-01    0.980782
2009-01   -0.919151
Freq: M, dtype: float64

In [19]:
s.asfreq('D', how='End')

2006-12-31    1.028397
2007-12-31    1.005615
2008-12-31    0.980782
2009-12-31   -0.919151
Freq: D, dtype: float64

### Quarterly period

In [37]:
p = pd.Period('2018Q4', 'Q-Jan') # Quarter ending in Jan
p

Period('2018Q4', 'Q-JAN')

In [34]:
p.asfreq('D', how='Start')

Period('2017-11-01', 'D')

In [38]:
p.asfreq('D', how='End')

Period('2018-01-31', 'D')

### Generating quarterly range

In [41]:
r = pd.period_range('2018Q3', '2019Q4', freq='Q-Jan')
r

PeriodIndex(['2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [45]:
s = pd.Series(np.arange(len(r)), index=r)
s

2018Q3    0
2018Q4    1
2019Q1    2
2019Q2    3
2019Q3    4
2019Q4    5
Freq: Q-JAN, dtype: int32

### Converting timestamps to periods

In [51]:
r = pd.date_range('2018-01-01', periods=3, freq='M') # month end period
r

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31'], dtype='datetime64[ns]', freq='M')

In [60]:
s = pd.Series(np.arange(len(r)), index=r)
s

2018-01-31    0
2018-02-28    1
2018-03-31    2
Freq: M, dtype: int32

In [63]:
pts = s.to_period('M')
pts

2018-01    0
2018-02    1
2018-03    2
Freq: M, dtype: int32

periods are non-overlapping; a timestamp can belongsto only one period

In [77]:
r = pd.date_range('2018-01-29', periods=6, freq='D')
s2 = pd.Series(np.random.randn(len(r)), index=r)
s2

2018-01-29   -0.681095
2018-01-30    0.958745
2018-01-31    1.109956
2018-02-01    0.754593
2018-02-02    0.218645
2018-02-03   -0.376050
Freq: D, dtype: float64

In [78]:
s3 = s2.to_period('M')
s3

2018-01   -0.681095
2018-01    0.958745
2018-01    1.109956
2018-02    0.754593
2018-02    0.218645
2018-02   -0.376050
Freq: M, dtype: float64

In [79]:
s4 = s3.to_timestamp(how='end')
s4

2018-01-31   -0.681095
2018-01-31    0.958745
2018-01-31    1.109956
2018-02-28    0.754593
2018-02-28    0.218645
2018-02-28   -0.376050
dtype: float64