In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(4,5), columns=['A','B','C','D','E'])
df

          A         B         C         D         E
0  0.302398  0.880292  0.071525  0.859207  0.087763
1  0.499797  0.507252  0.731780  0.563556  0.430655
2  0.918892  0.035887  0.877859  0.566300  0.687887
3  0.207706  0.677389  0.317179  0.938842  0.891576

In [5]:
# Write to CSV

df.to_csv('df1.txt') # df1.txt is the file name

In [10]:
df2 =pd.read_csv('df1.txt')
df2

   Unnamed: 0         A         B         C         D         E
0           0  0.473256  0.327580  0.777677  0.172808  0.098880
1           1  0.133450  0.142972  0.059889  0.962379  0.089141
2           2  0.550851  0.255392  0.211338  0.526639  0.004095
3           3  0.862999  0.651356  0.097609  0.654091  0.611352

In [11]:
# use index_col=0 to eliminate the unnamed column
# use index column 0 as index column
# this works even with index column name

df2 = pd.read_csv('df1.txt', index_col=0)
df2

          A         B         C         D         E
0  0.473256  0.327580  0.777677  0.172808  0.098880
1  0.133450  0.142972  0.059889  0.962379  0.089141
2  0.550851  0.255392  0.211338  0.526639  0.004095
3  0.862999  0.651356  0.097609  0.654091  0.611352

In [24]:
df.to_csv('df3.txt', header=None)

In [25]:
df3 = pd.read_csv('df3.txt', header=None, index_col=0, names=['AA','BB','CC','DD','EE']),
df3

(         AA        BB        CC        DD        EE
 0  0.302398  0.880292  0.071525  0.859207  0.087763
 1  0.499797  0.507252  0.731780  0.563556  0.430655
 2  0.918892  0.035887  0.877859  0.566300  0.687887
 3  0.207706  0.677389  0.317179  0.938842  0.891576,)