In [1]:
#Writing to HDF5

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.rand(3,4), columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.rand(5,6), columns=['1','2','3','4','5','6'])

df1

          A         B         C         D
0  0.362159  0.602144  0.490192  0.474406
1  0.939637  0.068236  0.658593  0.489001
2  0.136266  0.868668  0.192804  0.755644

In [2]:
df2

          1         2         3         4         5         6
0  0.108725  0.782582  0.775853  0.466615  0.680157  0.742266
1  0.119477  0.847978  0.101267  0.131826  0.199512  0.835617
2  0.941857  0.303097  0.161327  0.545872  0.420005  0.717159
3  0.021562  0.899544  0.419672  0.352725  0.226784  0.651774
4  0.941228  0.012752  0.665128  0.830508  0.282801  0.562105

In [5]:
# write to HDF5 file, df1.to_hdf('filename.h5','df1')
df1.to_hdf('ex1.h5','df1')
df2.to_hdf('ex1.h5','df2')

In [6]:
df1r = pd.read_hdf('ex1.h5','df1')
df2r = pd.read_hdf('ex1.h5','df2')

In [7]:
df1r

          A         B         C         D
0  0.362159  0.602144  0.490192  0.474406
1  0.939637  0.068236  0.658593  0.489001
2  0.136266  0.868668  0.192804  0.755644